################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mayon.TinyAgent/.vs
/.vs
/Mayon.TinyAgent/DemoConsole/bin/Debug/net8.0
/Mayon.TinyAgent/DemoConsole/obj
/Mayon.TinyAgent/Mayon.TinyAgent/bin/Debug
/Mayon.TinyAgent/Mayon.TinyAgent/obj
